<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <div class="flex flex-col flex-auto w-full bg-gray-100 dark:bg-transparent p-4 md:p-6 gap-2 overflow-auto">
    <!-- Title and action buttons -->
    <div class="flex w-full">
      <div class="w-full text-center">
        <h2 class="text-3xl font-semibold tracking-tight leading-8">{{title}}</h2>
      </div>
      <button mat-raised-button color="primary" (click)="createFee()"><mat-icon>add</mat-icon> Crear Tarifa</button>
    </div>
    <form class="w-full gap-1 sm:justify-between sm:flex" [formGroup]="form">
      <mat-form-field class="w-full" *ngIf="viewProduct">
        <mat-label>PRODUCTO</mat-label>
        <input matInput [formControlName]="'productoNombre'" [matAutocomplete]="autoP">
        <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptionsP | async" [value]="f">
            <span *ngIf="f.code">{{f.code}} | </span><small>{{f.name}}</small>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="form.controls['productoNombre'].setValue(null)" tabindex="-1" *ngIf="form.controls['productoNombre'].value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-full" *ngIf="titleDim1">
        <mat-label>{{titleDim1}}</mat-label>
        <input matInput [formControlName]="'recursoNombre'" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptions1 | async" [value]="f">
            <span *ngIf="f.code">{{f.code}} | </span><small>{{f.name}}</small>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="form.controls['recursoNombre'].setValue(null)" tabindex="-1" *ngIf="form.controls['recursoNombre'].value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-full" *ngIf="titleDim2">
        <mat-label>{{titleDim2}}</mat-label>
        <input matInput [formControlName]="'dimension2Nombre'" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptions2 | async" [value]="f">
            <span *ngIf="f.code">{{f.code}} | </span><small>{{f.name}}</small>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="form.controls['dimension2Nombre'].setValue(null)" tabindex="-1" *ngIf="form.controls['dimension2Nombre'].value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-full" *ngIf="titleDim3">
        <mat-label>{{titleDim3}}</mat-label>
        <input matInput [formControlName]="'dimension3Nombre'" [matAutocomplete]="auto3">
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptions3 | async" [value]="f">
            <span *ngIf="f.code">{{f.code}} | </span><small>{{f.name}}</small>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="form.controls['dimension3Nombre'].setValue(null)" tabindex="-1" *ngIf="form.controls['dimension3Nombre'].value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-full" *ngIf="titleDim4">
        <mat-label>{{titleDim4}}</mat-label>
        <input matInput [formControlName]="'dimension4Nombre'" [matAutocomplete]="auto4">
        <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptions4 | async" [value]="f">
            <span *ngIf="f.code">{{f.code}} | </span><small>{{f.name}}</small>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="form.controls['dimension4Nombre'].setValue(null)" tabindex="-1" *ngIf="form.controls['dimension4Nombre'].value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </form>


    <div class="w-full flex justify-center">
      <button mat-raised-button color="primary" class="w-full sm:w-auto" (click)="getFees()" *ngIf="!isLoading">
        <mat-icon>save</mat-icon> Consultar Tarifas
      </button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="overflow-auto">

      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="'productoNombre'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> PRODUCTO </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.productoNombre}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'recursoNombre'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> {{titleDim1}} </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.recursoNombre}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'dimension2Nombre'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> {{titleDim2}} </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.dimension2Nombre}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'dimension3Nombre'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> {{titleDim3}} </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.dimension3Nombre}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'dimension4Nombre'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> {{titleDim4}} </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.dimension4Nombre}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'cantidadMinima'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> RANGO CANTIDAD </th>
          <td mat-cell *matCellDef="let element" class="border-l"> {{element.cantidadMinima}} -
            {{element.cantidadMaxima}} </td>
        </ng-container>
        <ng-container [matColumnDef]="'valor'">
          <th mat-header-cell *matHeaderCellDef class="border-l"> TARIFA </th>
          <td mat-cell *matCellDef="let element" class="border-l">
            <a class="cursor-pointer text-primary font-bold tracking-tight text-sm text-right"
              (click)="showFee(element)">
              <span>{{element.valor}}</span>
              <span *ngIf="element.totalMinimo && element.totalMinimo !== 0"> - {{element.totalMinimo}}</span>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>