<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<!-- Input de productos -->
<mat-form-field class="w-full" *ngIf="!busquedaSinTexto">
  <mat-label>{{ structure.nombre | titlecase }} </mat-label>
  <input matInput [formControl]="fControl" [readonly]="!isEnabled" (keyup.enter)="searchAsincronous()"
    autocomplete="off" />
  <!-- Buscar -->
  <button mat-icon-button matSuffix *ngIf="this.isEnabled" (click)="searchAsincronous()" tabindex="-1">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<!-- Titulo y boton buscar -->
<div  *ngIf="busquedaSinTexto">
  <button mat-raised-button color="accent" (click)="searchQuicly()" [disabled]="isLoading"
    class="w-full">
    {{ structure.nombre | titlecase }}
  </button>
</div>
<label class="items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{errorToFilter}}</label>
<!-- Categorias -->
<div *ngIf="isShowCategories && structure.categorias" class="flex flex-wrap">
  <div *ngFor="let category of structure.categorias" class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-1 items-center">
    <div (click)="selectCategory(category)" class="w-full items-center">
      <img src="{{ category.imagen | imageFormat }}" (click)="selectCategory(category)" />
      <small>{{ category.nombre }}</small>
    </div>
  </div>
</div>
<!-- Productos -->
<div *ngIf="isShowProducts && productosFiltrados" class="flex flex-wrap">
  <div *ngFor="let product of productosFiltrados" class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-1 items-center">
    <mat-card class="user-card p-0 card-render" (click)="addProduct(product)">
      <mat-card-content>
        <div class="w-full" >
          <small class="w-full">{{ product.codigo }}</small>
          <img src="{{ product.imagen | imageFormat }}" />
          <div class="text-md">{{ product.nombre }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Tablas de escogidos -->
<div class="w-full" style="overflow: auto">
  <table mat-table class="w-full bg-default" *ngIf="data.detalles?.length && !unicoProducto"
    [dataSource]="data.detalles">
    <!-- Columnas -->
    <ng-container matColumnDef="retirar">
      <th mat-header-cell *matHeaderCellDef class="px-1">Retirar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="retirarProducto(element)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef class="px-1">Imagen</th>
      <td mat-cell *matCellDef="let element">
        <img class="cart-thumbnail" src="{{ element.productoImagen | imageFormat }}" style="cursor: pointer"
          (click)="modificarDetallePedido(element)" />
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="px-1">Nombre</th>
      <td mat-cell *matCellDef="let element">
        <span style="cursor: pointer" (click)="modificarDetallePedido(element)">{{ element.nombre }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef class="px-1">Unidad</th>
      <td mat-cell *matCellDef="let element" class="px-1">
        {{ element.valorUnitario | number }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef class="px-1">{{titleCantity}}</th>
      <td mat-cell *matCellDef="let element" class="px-1">
        <div *ngIf="element && element.cantidad">{{ element.cantidad }}</div>
        <small *ngIf="element.cantidadPromocion && element.cantidadPromocion !== 0"><br />Promo: {{
          element.cantidadPromocion }} x
          {{ element.cantidadPromocionBase }}<br />Total:
          {{ element.cantidadTotal }}</small>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="px-1">Total</th>
      <td mat-cell *matCellDef="let element">
        <div class="w-full text-right">{{ element.valorTotal | number }}</div>
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right">{{ getTotalCost() | number }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>