<!-- Titulo -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle *ngIf="plantilla"
  class="p-4 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent flex">
  <img src="{{ plantilla?.imagen | imageFormat }}" alt="" class="max-h-12 px-1" />
  <!-- Texto del titulo -->
  <div class="w-full">
    <small class="w-full font-semibold">{{documentState}}</small>
    <div>
      <span class="flex font-semibold">
        <span>{{ plantilla.nombre }}</span>
        <span> - {{ documentName }}</span>
      </span>
    </div>
  </div>
  <!-- Botones de accion -->
  <div class="flex">
    <a class="cursor-pointer px-1" (click)="listar(1)">
      <mat-icon class=" h-6">refresh</mat-icon>
    </a>
    <a class="cursor-pointer px-1" (click)="changeVisibilityOfFilters()">
      <mat-icon class="h-6">checklist</mat-icon>
    </a>
    <!-- Boton Cerrar -->
    <a class="cursor-pointer px-1" (click)="dialogRef.close(false)">
      <mat-icon class="h-6">exit_to_app</mat-icon>
    </a>
  </div>
</div>
<!-- Filtros de la trazabilidad -->
<div *ngIf="isFilterVisible" class="w-full flex flex-wrap" class="px-4 md:px-8">
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckDocuments">
    <span class="text-small">Documentos</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckAssignations">
    <span class="text-small">Asignaciones</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckMessage">
    <span class="text-small">Mensajes</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckInventary">
    <span class="text-small">Inventario</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckAutomaticas">
    <span class="text-small">Automaticas</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckReportes">
    <span class="text-small">Reportes</span>
  </mat-checkbox>
  <mat-checkbox class="pr-8 flex-auto" [formControl]="fCheckApi">
    <span class="text-small">API</span>
  </mat-checkbox>
</div>

<!-- Lista de la trazabilidad -->
<div class="py-4 pr-4 pl-7 bg-sky-100 dark:bg-transparent rounded">
  <ol>
    <!-- Activities -->
    <ng-container *ngFor="let g of dataProvider">
      <!-- Activity -->
      <li class="relative flex py-1">
        <div class="absolute left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600"></div>

        <div class="relative flex flex-auto">
          <!-- Image -->
          <ng-container>

            <div class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400"
              *ngIf="!g.responsableImagen">
              <mat-icon class="icon-size-5 text-white" svgIcon="person_pin">
              </mat-icon>
            </div>
            <img class="shrink-0 w-10 h-10 mr-4 rounded-full overflow-hidden object-cover object-center"
              [src]="g.responsableImagen" [alt]="'Activity image'" *ngIf="g.responsableImagen">


          </ng-container>

          <!-- Content -->
          <div class="flex flex-col flex-auto items-start">

            <!-- Description -->
            <ng-container>
              <!-- Primera linea:quien y cuando -->
              <div class="w-full flex justify-between">
                <small>{{ getDateFormat(g.fecha) }}</small>
                <small class="text-small">{{ g.responsable }}</small>
              </div>
              <!-- Segunda linea: Accion y datos del documento que lo modifico -->
              <div class="w-full flex justify-between">
                <div class="flex">
                  <b class="text-small">{{ g.nombre }}</b>
                  <a *ngIf="g.transaccion && !g.campos" (click)="showTraceField2Document(g)"><mat-icon
                      inline="true">view_headline</mat-icon></a>
                </div>
                <a class="cursor-pointer text-primary font-bold tracking-tight text-sm text-right"
                  *ngIf="g.documentoModificador" (click)="showTraceDocument(g.documentoModificador, g.plantilla)">
                  <span>{{ g.plantillaNombre }} - {{ g.modificadorNombre }}</span>
                </a>
              </div>
              <!-- Tercera linea: Estados y ubicacion -->
              <div class="w-full flex justify-between" *ngIf="g.ubicacionNombre || g.estadoFinal">
                <small>{{ g.estadoInicial }} - {{ g.estadoFinal }}</small>
                <b *ngIf="g.ubicacionNombre">[ {{ g.ubicacionPlantilla }} ] {{ g.ubicacionNombre }}</b>
              </div>
              <!-- Cuarta linea : comentario -->
              <div *ngIf="g.comentario" class="mt-1 py-2 px-2 rounded-lg bg-gray-200 dark:bg-gray-800">
                <div class="text-sm line-clamp-3">{{g.comentario }}
                </div>
              </div>
              <!-- Quinta linea dinero -->
              <div class="w-full flex justify-between" *ngIf="g.total">
                <small>Saldo : {{ g.saldo | currency }}</small>
                <b> Valor Total : {{ g.total | currency }}</b>
              </div>
              <!-- Sexta linea Adjuntos -->
              <div *ngIf="g.adjunto" class="w-full">
                <div *ngFor="let iUrl of g.adjunto.split(';;'); let i = index">
                  <a [href]="iUrl" target="_blank" class="cursor-pointer text-primary text-sm"> Enlace # {{i + 1 }}</a>
                </div>
              </div>
              <!-- Septima linea Campos nuevos -->
              <div class="w-full" *ngIf="g.campos">
                <div *ngFor="let iCampoOriginal of g.campos">
                  <b class="text-xs">{{ iCampoOriginal.campo }} :</b><small> {{ iCampoOriginal.valorText }}</small>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </li>
    </ng-container>
  </ol>
  <button mat-flat-button (click)="listar(pagina)" *ngIf="!isEnd">
    <mat-icon>history</mat-icon> Seguir consultando
  </button>
</div>