<div class="px-4 min-h-full flex items-center w-full bg-slate-900">
  <div class="w-full max-w-100 m-auto">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="p-4">
          <img class="m-auto" src="assets/images/password_secure.png" alt="">
        </div>
        <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
        <form [formGroup]="recoverForm" (ngSubmit)="signin()">
          <div >
            <mat-form-field>
              <input
                matInput
                name="identificacion"
                [formControl]="recoverForm.controls['identificacion']"
                placeholder="Numero de Identification">
            </mat-form-field>
            <small 
              *ngIf="recoverForm.controls['identificacion'].hasError('required') && recoverForm.controls['identificacion'].touched" 
              class="form-error-msg"> Username is required </small>
          </div>

          <div>
            <mat-form-field >
              <input 
                name="correo"
                matInput
                [formControl]="recoverForm.controls['correo']"
                placeholder="Correo electronico" >
            </mat-form-field>
            <small 
              *ngIf="recoverForm.controls['correo'].hasError('required') && recoverForm.controls['correo'].touched" 
              class="form-error-msg"> Password is required </small>
          </div>
          <button mat-raised-button class="mat-primary w-full mb-1" [disabled]="recoverForm.invalid">Enviar al correo nueva clave</button>
          <div class="text-center">
            <a [routerLink]="'/sign-in'" class="mat-primary text-center w-full">Volver a login</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

