<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="securityForm" (ngSubmit)="changePwd()">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Cambie su clave</div>
            <div class="text-secondary">Recuerda cambiar tu clave constantemente!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Current password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:key'" matPrefix></mat-icon>
                    <input [formControl]="securityForm.controls['oldPwd']" type="password" matInput>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>New password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:key'" matPrefix></mat-icon>
                    <input [formControl]="securityForm.controls['newPwd']" type="password" matInput>
                </mat-form-field>
            </div>
            <!-- Repeat password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Repeat password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:key'" matPrefix></mat-icon>
                    <input [formControl]="securityForm.controls['repeatPwd']" type="password" matInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <button mat-flat-button [color]="'primary'" [disabled]="securityForm.invalid"
                *ngIf="!isLoading">Save
            </button>
        </div>
    </form>

</div>