<!-- Timer -->
<div class="time-countdown" *ngIf="timerBackCount" [style.display]="isInvisible ? 'none': 'block'">
  <ul>
    <li>
      <span>{{ day }}</span>Dias
    </li>
    <li>
      <span>{{ hours }}</span>Hrs
    </li>
    <li>
      <span>{{ minutes }}</span>Min
    </li>
    <li>
      <span>{{ seconds }}</span>Seg
    </li>
  </ul>
</div>
<!-- Fecha normal -->
<mat-form-field *ngIf="!isRango && !sinCalendar" [style.display]="isInvisible ? 'none': 'block'">
  <mat-label>{{ structure.nombre | titlecase }}</mat-label>
  <input matInput [matDatepicker]="pickerFrom" [required]="required" [formControl]="dateFrom" [readonly]="!isEnabled"
    autocomplete="off" />
  <mat-datepicker-toggle matSuffix [for]="pickerFrom" *ngIf="isEnabled"></mat-datepicker-toggle>
  <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
<div class="relative left-24 -top-10 h-0" *ngIf="!isRango && !sinCalendar && conHora && data.valorFecha"
  [style.display]="isInvisible ? 'none': 'block'">
  <input matInput type="time" [readonly]="!isEnabled" [required]="required" [formControl]="timeFrom" />
</div>
<!-- Tiempo -->
<div class="flex justify-end w-full" *ngIf="!isRango && sinCalendar"
  [style.display]="isInvisible ? 'none': 'block'">
  <span >{{
    structure.nombre | titlecase
    }}</span>
  <mat-form-field class="pl-2">
    <mat-label>Horas</mat-label>
    <input matInput type="number" min="0" max="23" autocomplete="off" [required]="required"
      [formControl]="fControlHoras" />
  </mat-form-field>
  <mat-form-field class="pl-2" >
    <mat-label>Minutos</mat-label>
    <input matInput type="number" min="0" max="59" autocomplete="off" [required]="required"
      [formControl]="fControlMinutes" />
  </mat-form-field>
</div>
<!-- Rango -->
<mat-form-field *ngIf="isRango" class="dialog-control" [style.display]="isInvisible ? 'none': 'block'">
  <mat-label>{{ structure.nombre | titlecase }}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Fecha inicial" [formControl]="fControlDateStart" (dateInput)="datesUpdated()"
      (dateChange)="datesUpdated()" autocomplete="off" />
    <input matEndDate placeholder="Fecha final" [formControl]="fControlDateEnd" (dateInput)="datesUpdated()"
      (dateChange)="datesUpdated()" autocomplete="off" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>