<!-- Main -->
<div class="flex-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between border-b">

        <!-- Main actions -->
        <div class="flex items-center mx-4">
            <!-- Search -->
            <div class="flex-auto">
                <mat-form-field class="w-full min-w-50">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="'Search devices'">
                </mat-form-field>
            </div>
            <!-- Search device button -->
            <button class="ml-1" (click)="searchDevices()">
                <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- devices list -->
    <div class="relative">
        <ng-container *ngIf="devices$ | async as devices">
            <ng-container *ngIf="devices.length; else nodevices">
                <ng-container *ngFor="let device of devices; let i = index; trackBy: trackByFn">
                    <!-- Group -->
                    <ng-container *ngIf="i === 0 || device.usuarioNombre.charAt(0) !== devices[i - 1].usuarioNombre.charAt(0)">
                        <div
                            class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                            {{device.usuarioNombre.charAt(0)}}
                        </div>
                    </ng-container>
                    <!-- device -->
                    <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                        (click)="selectDevice(device)"
                        [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selecteddevice || selecteddevice.id !== device.id,
                                                'bg-primary-50 dark:bg-hover': selecteddevice && selecteddevice.id === device.id}">
                        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                            <ng-container *ngIf="device.avatar">
                                <img class="object-cover w-full h-full" [src]="device.avatar" alt="device avatar" />
                            </ng-container>
                            <ng-container *ngIf="!device.avatar">
                                <div
                                    class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                    {{device.usuarioNombre.charAt(0)}}
                                </div>
                            </ng-container>
                        </div>
                        <div class="min-w-0 ml-4">
                            <div class="font-medium leading-5 truncate">{{device.usuarioNombre}}</div>
                            <div class="leading-5 truncate text-secondary">{{device.nombre}}</div>
                        </div>
                    </a>
                </ng-container>
            </ng-container>
        </ng-container>

        <!-- No devices -->
        <ng-template #nodevices>
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                devices!</div>
        </ng-template>

    </div>

</div>