<div class="w-full max-w-3xl">


    <app-change-picture></app-change-picture>
    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Perfil</div>
            <div class="text-secondary">Esta información sera publicada para tu identificaion, se cuidadoso!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Nombre</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_outline:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- About -->
            <div class="sm:col-span-4">
                <mat-form-field class=" w-full">
                    <mat-label>Sobre mi</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'about'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint"></div>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

    </form>

</div>
