<div class="px-4 min-h-full flex items-center w-full bg-slate-900">
    <div class="w-full max-w-100 m-auto">
      <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
      <mat-card>
        <mat-card-content>
          <div class="text-center p-4">
            <img class="m-auto" src="{{ image | imageFormat }}" alt="">
            <p class="m-0">{{company}}</p>
          </div>
          <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
          <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div >
              <mat-form-field>
                <input
                  matInput 
                  name="username"
                  [formControl]="signInForm.controls['username']"
                  placeholder="Username"
                  value="">
              </mat-form-field>
              <small 
                *ngIf="signInForm.controls['username'].hasError('required') && signInForm.controls['username'].touched" 
                class="form-error-msg"> Username is required </small>
            </div>
            <div >
              <mat-form-field>
                <input 
                  type="password"
                  name="password"
                  matInput
                  [formControl]="signInForm.controls['password']"
                  placeholder="Password" 
                  autocomplete="new-password"
                  value="">
              </mat-form-field>
              <small 
                *ngIf="signInForm.controls['password'].hasError('required') && signInForm.controls['password'].touched" 
                class="form-error-msg"> Password is required </small>
            </div>
            <button mat-raised-button class="mat-primary w-full mb-1" [disabled]="signInForm.invalid">Sign in</button>
            <small class="m-0">{{currentApplicationVersion}}</small>
            <div class="text-center">
              <a [routerLink]="'/sessions/recover'" class="mat-primary text-center w-full">Recordar clave acceso</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  