<div >
  <div >
    <span >{{ product?.nombre }}</span>
    <button mat-raised-button (click)="toogleEdit()" color="accent" tabindex="-1" *ngIf="!isEditable">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dialogRef.close(false)" tabindex="-1">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
  <div>
    <div>
      <mat-form-field>
        <div class="imagePreview" *ngIf="product && product.imagen !== ''">
          <img [src]="product.imagen" />
        </div>
        <input name="image" matInput [formControl]="imageControl" placeholder="Imagen" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name="descripcion" [formControl]="descripcionControl" placeholder="Descripcion"
          [readonly]="!isEditable"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Producto Base" matInput [formControl]="baseControl" [matAutocomplete]="auto"
          [readonly]="!isEditable" />
        <button mat-icon-button matSuffix *ngIf="isEditable" (click)="gestionarKeyUpTexto()" tabindex="-1">
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplay">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button *ngIf="isEditable" mat-raised-button class="mat-primary full-width mb-1">
        Modificar
      </button>
    </div>
  </div>

  <div>
    <button mat-raised-button color="accent" class="full-width" tabindex="-1" *ngIf="isEditable">
      <mat-icon>add</mat-icon> Agregar inventario
    </button>
    <table mat-table [dataSource]="inventario" class="mat-elevation-z8 full-width">
      <ng-container matColumnDef="bodega">
        <th mat-header-cell *matHeaderCellDef>BODEGA</th>
        <td mat-cell *matCellDef="let element">
          <small>{{ element.nombreBodega }}</small>
        </td>
      </ng-container>
      <ng-container matColumnDef="minimo">
        <th mat-header-cell *matHeaderCellDef>MINIMO</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.cantidadMinima | number }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="maximo">
        <th mat-header-cell *matHeaderCellDef>MAXIMO</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.cantidadMaxima | number }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef>ACTUAL</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <span class="mat-title">{{ element.cantidadActual | number }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon color="accent">edit</mat-icon>
          <mat-icon color="warn">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="inventoryColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: inventoryColumns"></tr>
    </table>
  </div>
</div>