<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{plantilla?.nombre}}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-col flex-0 p-2 w-full">
    <div class="flex w-full ">
      <button mat-flat-button color="accent" class="m-4" [disabled]="isLoading || isProcessing"
        onclick="simpleUploadXML.click();">
        <mat-icon class="mr-2">cloud_upload</mat-icon> 2. Cargar
        <input id="simpleUploadXML" style="display: none" type="file" accept=".xml, .xlsx, .csv"
          (click)="$event.target.value = ''" (change)="handleFileInput($event.target.files)" />
      </button>
      <button mat-flat-button color="accent" class="m-4" onclick="multipleUploadXML.click();"
        [disabled]="isLoading || isProcessing" *ngIf="fieldIdInTemplateSecondary && documentosGenerados">
        <mat-icon class="mr-2">cloud_upload</mat-icon> Cargar Multiple
        <input id="multipleUploadXML" style="display: none" type="file" accept=".xml, .xlsx, .csv"
          (click)="$event.target.value = ''" (change)="handleFileInputMultiple($event.target.files)" />
      </button>
      <span></span>
      <button mat-flat-button color="accent" class="m-4" [disabled]="isLoading" (click)="downloadBase('xml')">
        <mat-icon class="mr-2">cloud_download</mat-icon> base (xml)
      </button>
      <button mat-flat-button color="accent" class="m-4" [disabled]="isLoading" (click)="downloadBase('excel')">
        <mat-icon class="mr-2">cloud_download</mat-icon> base (csv)
      </button>
    </div>

    <mat-progress-bar [mode]="isLoading ? 'indeterminate' : ''" class="w-full">Validando Datos</mat-progress-bar>
    {{ lblCarga }}
    {{ lblTipoProceso }}
    <mat-progress-bar [mode]="isLoading ? 'indeterminate' : ''" class="w-full"></mat-progress-bar>
    <div class="w-full">
      <button mat-flat-button color="accent" class="m-4" [disabled]="isLoading || !isValidate || isProcessing"
        (click)="startLoad()">
        <mat-icon class="mr-2">fast_forward</mat-icon> 3. Procesar
      </button>
      <span></span>
      <button mat-flat-button color="accent" class="m-4" [disabled]="isProcessing" (click)="newMassiveLoad()">
        <mat-icon class="mr-2">autorenew</mat-icon> Nueva carga
      </button>

      <button mat-flat-button color="accent" class="m-4" [disabled]="isProcessing" >
        <mat-icon class="mr-2">autorenew</mat-icon> Cargar archivos
        
      </button>

      <input [id]="'_file'" type="file" webkitdirectory directory multiple
        (click)="$event.target.value = '';$event.stopPropagation();" [disabled]="isProcessing"
        (change)="handleFileInputToLoadArchivo($event.target.files)" />

    </div>
    <mat-progress-bar [mode]="isProcessing ? 'indeterminate' : ''" class="w-full"></mat-progress-bar>
    <span class="w-full">{{ lblProcesar }}</span>
    <div class="w-full">
      <div *ngFor="let iDocument of failedDocuments">
        <app-document [document]="iDocument"></app-document>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="overflow-auto" *ngIf="dataSource.data" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="'orderNumber'" >
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'bg-red-500':element.status ==='FAILED'}">
          <div>{{element.orderNumber}}</div>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="'status'" >
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'bg-red-500':element.status ==='FAILED'}">
          <div>{{element.status}}</div>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="'messages'" >
        <th mat-header-cell *matHeaderCellDef>Mensajes</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'bg-red-500':element.status ==='FAILED'}">
          <div *ngFor="let msg of element.messages" class="min-w-100" >{{msg.message}}</div>
          <div *ngIf="element.documentName">{{element.documentName}}</div>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="column" *ngFor="let column of titleColumns; let i=index">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.document.caracteristicas[i].valorText}}</div>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
    </table>
  </div>


</div>